.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.indexH2 {
    text-align:center;
    color: grey;
}

.card-body.index {
    text-align:center;
}

.card-img.cat {
    opacity: 0.9;
    -webkit-filter: brightness(60%);
    filter:brightness(60%);
}

.catText {
    position:absolute;
    bottom: 0px;
    margin: 20px;
    color: white;
}
